/* 1200px*/
@media (max-width: 1200px) {
  .width-content-4 {
    width: 33.33%;
  }
}

/* 992px  */
@media (max-width: 992px) {
  .width-content-3 {
    width: 50%;
  }

  .title h1 {
    font-size: 45px;
    line-height: 55px;
  }

  .about-area-video-icon {
    font-size: 80px;
    height: 300px;
  }

  .explore-content {
    width: 100%;
    margin: 10px 0;
  }
}

/* 768px */
@media (max-width: 768px) {
  .width-content-2,
  .width-content-3,
  .width-content-4 {
    width: 100%;
  }

  .Top-title-content {
    top: 25%;
  }

  .title h1 {
    font-size: 35px;
    line-height: 45px;
    text-align: center;
  }

  .title p {
    text-align: center;
    font-size: 16px;
  }

  .title-btn {
    text-align: center;
  }

  nav ul {
    display: none;
    flex-direction: column;
    background-color: var(--text-main);
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .menu-active nav ul {
    display: flex;
  }

  nav ul {
    display: none;
    flex-direction: column;
    background-color: var(--text-main);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 10;
  }

  .menu-icon {
    display: block;
    cursor: pointer;
  }

  .menu-active nav ul {
    display: flex;
  }
}

/* 576px  */
@media (max-width: 576px) {
  .header-btn button,
  .Login-btn button {
    padding: 10px 20px;
    font-size: 14px;
  }

  .course-title,
  .Explore-title,
  .Explore-subject,
  .Community-experts-title {
    font-size: 28px;
  }

  .about-area-2-content h2,
  .about-area-3-content h2 {
    font-size: 28px;
  }

  .footer-items {
    padding: 30px;
  }

  .footer-title h3 {
    font-size: 20px;
  }

  .footer-icons i {
    width: 35px;
    height: 35px;
    font-size: 16px;
  }
}
